<div class="bigTitle">Search</div>
<form class="searchForm" action="/search" method="get">
  <input type="text" name="search_query" placeholder="Enter search terms here">
  <button type="submit">Search</button>
</form>
