<h1 class="bigTitle">Search</h1>
<form class="searchForm" action="/search_query" method="post">
  <input type="text" name="search_query" placeholder="Enter search terms here">
  <button type="submit">Search</button>
</form>
