<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Reviews</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="header">
      {{#if loggedIn}}
        <div class="greeting">
          Hello, {{session_name}}!
        </div>
      {{else}}
        <div class="login_button">
          <a href="/login" class="button">Login!</a>
        </div>
      {{/if}}
    </div>
    {{{body}}}
  </body>
</html>
