<form class="reviewForm" action="/addRestaurant" method="post">
  <div class="littleTitle">Enter info for a restaurant:</div>
  <label for="name"><input type="text" name="name" placeholder="Restaurant Name"></label>
  <label for="address"><input type="text" name="address" placeholder="Restaurant Address"></label>
  <label for="category"><input type="text" name="category" placeholder="Restaurant Category"></label>
  <button type="submit">Add this Restaurant</button>
</form>
