<div class="littleTitle">No results found for "{{qString}}"</div>
<form class="searchForm" action="/" method="get">
  <button type="submit">Try another search</button>
</form>
<a href="/new_restaurant">Add a new restaurant</a>
