body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bigTitle {
  width: 100vw;
  padding-top: 30vh;
  line-height: 6vh;
  font-size: 5vh;
  text-align: center;
}

.littleTitle {
  width: 100vw;
  padding-top: 5vh;
  line-height: 4vh;
  font-size: 3vh;
  text-align: center;
}

.searchForm {
  padding: 3vh 20vw;
  width: 60vw;
  height: 5vh;
  vertical-align: top;
}

.searchForm input {
  padding: 0;
  margin: 0;
  height: 5vh;
  font-size: 3vh;
  width: 100%;
}

.searchForm button {
  padding: 0;
  margin: 0;
  width: 50%;
  margin-top: 1vh;
  margin-left: 25%;
  height: 5vh;
}

.resultTable {
  text-align: center;
  width: 100vw;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.redirect {
  text-align: center;
  width: 500px;
  margin: 0 30vw;
  height: 10vh;
  background-color: lightblue;
}

.infoSet li {
  list-style: none;
}
